@font-face {
    font-family: 'epicene';
    src: url('https://timesevered.github.io/custom-font-hosting/main/EpiceneDisplay-Light.otf') format('otf'),
         url('https://timesevered.github.io/custom-font-hosting/main/EpiceneDisplay-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
